

<style>
    html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}



.search-bar{
  max-width: 500px;
  width:100%;
}

h5{
  font-size: 30px;
}



.my-0 a{
  text-decoration: none;
}

.my-2 a:hover {
		  border-bottom: 3px solid black;
      text-decoration: none

	}

</style>

      {% if request.user.is_authenticated %}
      <div style="background-color: #C3E4ED;" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom shadow-sm">
             
             <h5  class="my-0 mr-md-auto font-weight-bold"><a   href="{% url 'home' %}">SPORTY</a></h5>
             <div class="search-bar mt-sm-2 mr-2" >
                <form method="GET">
                    <div class="container">
                        <div class="col-md-12">
                            <input   type="text" class="form-control" name="q" id="id_q" placeholder="Search.....  " >  
                        </div>
      
                    </div>
                   
                </form>
              </div>
              <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
                <a class="p-2 text-dark" href="#">Services</a>
                <a class="p-2 text-dark" href="{% url 'account' %}">Account</a>
                
                <span>Hi, {{ request.user.username }}  </span>
                <a  class="p-2 text-dark" href="{% url 'logout' %}">Logout</a>
              </nav>
       </div>
       {% else %}  
       <div  style="background-color: #C3E4ED;" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom shadow-sm">
              <h5  style="font-weight:bold" class="my-0 mr-md-auto font-weight-bold"><a  href="{% url 'home' %}">SPORTY</a></h5>
              <div class="search-bar mt-sm-2 mr-2" >
                  <form method="GET">
                      <input type="text" class="form-control" name="q" id="id_q" placeholder="Search....."   >
                  </form>
                </div>
              <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
                <a class="p-2 text-dark" href="#">Services</a>  
                <a  class="p-2 text-dark" href="{% url 'login' %}">Login</a>
                <a class="p-2 text-dark" href="{% url 'register' %}">Register</a>
              </nav>
             
       </div>  
       {% endif %} 
       
      <script type="text/javascript">
            document.getElementById(id_q).value = "{{ query }}"
      </script>
      

